<!DOCTYPE html>
<html>
  <head>
    {{ render(controller( 'AdminBundle:RenderTemplate:renderFavIcon' )) }}  
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">  
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" type="text/css" href="{{ asset('_adminAssets') }}/_build/css/_main.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('_adminAssets') }}/_build/css/_reset.css">
    {% block lib_css %}{% endblock %} 
  </head>
  <body >
    {% set localepathForRouteId =  app.request.get('id')  %}
    {% set localepathForRoutePath =  path ( app.request.get('_route'),app.request.get('_route_params'))  %}
    <nav class="navbar navbar-expand-lg">
      <button class="btn btn-primary" id="menu-toggle">{{ render(controller( 'AdminBundle:RenderTemplate:renderProjecttitle' )) }} </button>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
          <li class="nav-item active">
            <a class="nav-link" href="#">{{ app.user.firstname }}  {{ app.user.lastname }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('admin_logout') }}">( déconnexion )</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="d-flex" id="wrapper">
      <div id="sidebar-wrapper">
        {{ render(controller( 
          'AdminBundle:RenderTemplate:renderSideBar',{ 
            'localepathForRouteId': localepathForRouteId ,
            'localepathForRoutePath': localepathForRoutePath 
          })) 
        }}
      </div>
      <div id="page-content-wrapper">
        
        <div class="container-fluid">
          {% block pageTitle %}{% endblock %}
          {% block body %}{% endblock %}
          {% block media_content %}{% endblock %}
        </div>
      </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.pagination.js/0.1.1/list.pagination.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="{{ asset('_adminAssets') }}/_libs/croppie/croppie.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/pnotify/dist/pnotify.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/pnotify/dist/pnotify.buttons.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/pnotify/dist/pnotify.nonblock.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/sweetalert/sweetalert2.all.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/speakingurl.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/jquery.stringtoslug.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/select2.min.js"></script>
    <script src="{{ asset('_adminAssets') }}/_libs/sortable.js"></script> 

    <script src="{{ asset('_adminAssets') }}/_custom/dragAndDropBuild/libs/jquery.touch-punch.min.js"></script> 
    <script src="{{ asset('_adminAssets') }}/_custom/dragAndDropBuild/libs/jquery.shapeshift.js"></script>

    <script src="{{ asset('_adminAssets') }}/_custom/functions/_script.js"></script>  
    <script src="{{ asset('_adminAssets') }}/_custom/mediaBuild/js/media_functions.js"></script> 
    <script src="{{ asset('_adminAssets') }}/_custom/dragAndDropBuild/dragAndDropFunctions.js"></script>  
    <script src="{{ asset('_adminAssets') }}/_custom/mediaBuild/js/upload.js"></script>  
    <script src="{{ asset('_adminAssets') }}/_custom/dragAndDropBuild/script.js"></script>  
    <script src="{{ asset('_adminAssets') }}/_custom/dataTable/_script.js"></script>  

    <script src="{{ asset('_adminAssets') }}/_build/js/_main.js" type="text/javascript"></script>

    <script type="text/javascript">
      var _path = "_adminAssets"
      var mediaAjxUrl  = "{{ path('all_images') }}";
      var mediaOneAjaxUrlForEdit  = "{{ path('getOneImage',{'id':0}) }}";
      var form_route   = "{{ path('add_new_image') }}";
      var form_edit_route   = "{{ path('edit_existant_image',{'id':0}) }}";
      var form_delete_route = "{{ path('delete_existant_image',{'id':0}) }}";
      var imagebaseUrl = "{{ asset('uploads') }}/";
      getWidthAndHeigth("{{ path('getImageConfig') }}");
    </script>
  </body>
</html>