{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Editer location{% endblock %} 
{% block lib_script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
    {{ tinymce_init() }}
{% endblock %}

{% block local_script %}
    <script src="{{ asset('adminTemplateFiles/build/js/boxes_script.js') }}" type="text/javascript"></script>
    <script src="{{ asset('adminTemplateFiles/build/js/eventOrder.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
    updatePositionOnEdit();
    </script>
{% endblock %}

{% block body %}
{{ form_start(edit_form) }}
<div class="col col_8">
     <div class="container_box">
        <div class="box_title"> 
            {% if location.translations[app.request.locale].city  is defined %}
                <h3>Editer - {{ location.translations[app.request.locale].city }}</h3>
            {% else %}
                <h3>Editer location <small>Titre introuvable</small></h3>
            {% endif %}
        </div>
        <div class="box_content">
            <div class="row">
                {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderLocationForm',{ 'form': edit_form, 'entity':location, 'data':null }
                )) }}
            </div>
        </div>
    </div>
</div>
<div class="col col_4">
    
    <div class="action-page">
        <div class="action-body">
           {{ render(controller( 
            'AdminBundle:RenderTemplate:renderState',{ 'form': edit_form, 'entity':location}
            )) }}
           <div class="btn-group">
                {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderSubmitButtons',{'path':path('location_index')  }
                )) }}
           </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}

{% endblock %}