<div class="time_line">
    <div class="line"></div>
    <a class="part active generale-part" href="#generale" data-target="generale">Général</a>
</div>
<div class="time_line_target">
    <div class="part generale-part active" data-source="generale">
        {# {{ render(controller( 'AdminBundle:RenderTemplate:renderLocales')) }} #}
        <div class="row">
            <div class="col col_10">
                {{form_row(form.translations)}}
            </div>
        </div> 
        <div class="row block-img">
            <div class="col col_3">
                <label class="input_label displayLabel displayLabelImage">Logo du client</label>
                <div class="form_group imgContainer" style="margin-left:20px;">
                    {% if entity.clientlogo is defined and entity.clientlogo is not null %}
                        <img src="{{ asset('uploads/'~ entity.clientlogo.src) }}">
                        <a class="btn-delleteFile" >Supprimer l'image</a>
                    {% endif %}
                </div>
                {{form_row(form.clientlogo)}}
            </div>
        </div>
        <div class="row block-img">
            <div class="col col_3">
                <label class="input_label displayLabel displayLabelImage">Image à la une</label>
                <div class="form_group imgContainer" style="margin-left:20px;">
                    {% if entity.clientthumbnail is defined and entity.clientthumbnail is not null %}
                        <img src="{{ asset('uploads/'~ entity.clientthumbnail.src) }}">
                        <a class="btn-delleteFile" >Supprimer l'image</a>
                    {% endif %}
                </div>
                {{form_row(form.clientthumbnail)}}
            </div>
        </div>
    </div>
</div>
<div style="display:none">{{form_rest(form)}}</div>