{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="a2lix_translations inputLocaleContents">
        <div class="customTabContents a2lix_translationsFields tab-content" >
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}
              
                <div data-locale= "locale|capitalize " class=" 
                        {{ translationsFields.vars.id }}_a2lix_translationsFields-{{ locale }} tab-panel-locale
                        customTabContent lang-{{ locale }} {% if app.request.locale == locale %}active{% endif %}">
                    {{ form_widget(translationsFields) }}
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}
