{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Editer presse{% endblock %} 
{% block lib_script %}
    {{ tinymce_init() }}
{% endblock %}

{% block local_script %}
    <script src="{{ asset('adminTemplateFiles/build/js/boxes_script.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
{{ form_start(edit_form) }}
<div class="col col_8">
     <div class="container_box">
        <div class="box_title"> 
            {% if press.translations[app.request.locale].name  is defined %}
                <h3>Editer - {{ press.translations[app.request.locale].name }}</h3>
            {% else %}
                <h3>Editer presse <small>Titre introuvable</small></h3>
            {% endif %}
        </div>
        <div class="box_content">
            <div class="row">
                {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderPressForm',{ 'form': edit_form, 'entity':press, 'data':null }
                )) }}
            </div>
        </div>
    </div>
</div>
<div class="col col_4">
    
    <div class="action-page">
        <div class="action-body">
           {{ render(controller( 
            'AdminBundle:RenderTemplate:renderState',{ 'form': edit_form, 'entity':press}
            )) }}
           <div class="btn-group">
                {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderSubmitButtons',{'path':path('press_index')  }
                )) }}
           </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}

{% endblock %}

{% block media_content %}
    {% include 'MediaBundle:Templates:medias.html.twig'%}
{% endblock %}