{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Editer page{% endblock %} 

{% block body %}
{{ form_start(edit_form, {'attr': {'class': 'was-validated'}}) }}
<h1 class="mt-4 _pageTitle _slugTitle" 
    data-change="{{ path('slugValidation',{ 'entity': '999-entity','slug':'888-slug'}) }}">
    Editer - {{ page.translations[app.request.locale].title }}
</h1>

{{ render(controller( 
    'AdminBundle:RenderTemplate:renderState',{ 'form': edit_form, 'entity':page}
)) }}
    
<div class="row">
  <div class="col-md-8 _box">
    <div class="_boxContent">
        {{ render(controller( 
            'AdminBundle:RenderTemplate:renderPageForm',{ 'form': edit_form, 'entity':page, 'data':null}
        )) }}
    </div>    
  </div>
</div>
{{ form_end(edit_form) }}
{% endblock %}