{% extends 'AdminBundle::_shared.html.twig' %}
{% block pageTitle %}
<div class="pageHeader">
    <h1 class="mt-4 _pageTitle _slugTitle" 
        data-change="{{ path('slugValidation',{ 'entity': '999-entity','slug':'888-slug'}) }}">
        Nouvelle Page
    </h1>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#general">Generale</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#seo">Seo</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#content">Contenu</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#mansory">Mansory</a>
        </li>
    </ul>
</div>

{% endblock %}
{% block body %}
{{ form_start(form, {'attr': {'class': 'was-validated'}}) }}
{{ render(controller( 
    'AdminBundle:RenderTemplate:renderState',{ 'form': form, 'entity':page}
)) }}
    
<div class="row">
  <div class="col-md-8 _box">
    <div class="_boxContent">
        {{ render(controller( 
            'AdminBundle:RenderTemplate:renderPageForm',{ 'form': form}
        )) }}
    </div>    
  </div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block media_content %}
    {# {% include 'MediaBundle:Templates:medias.html.twig'%} #}
{% endblock %}
