{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Nouvelle page{% endblock %} 

{% block lib_script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
    {{ tinymce_init() }}
{% endblock %}

{% block local_script %}
    <script src="{{ asset('adminTemplateFiles/build/js/boxes_script.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="col col_8">
     <div class="container_box" data-change="{{ path('slugValidation',{ 'entity': '999-entity','slug':'888-slug'}) }}">
        <div class="box_title">
            <h3>Nouvelle page</h3>
        </div>
        <div class="box_content">
            <div class="row">
                {% include  
                    "AdminBundle:Templates:Page/forms.html.twig" with
                    {
                        'form':form,
                        'entity':page,
                        'data':null
                    }
                %}
            </div>
        </div>
    </div>
</div>
<div class="col col_4">
    <div class="action-page">
        <div class="action-body">

           {% include  
                "AdminBundle:Templates:state.html.twig" with
                {
                    'form':form,
                    'entity':page
                }
            %} 
           <div class="btn-group">
                {% include  
                    "AdminBundle:Templates:submitButtons.html.twig" with
                    {
                        'path':path('page_index')
                    }
                %}
           </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block media_content %}
    {% include 'MediaBundle:Templates:medias.html.twig'%}
{% endblock %}
