{% extends 'CoreSystemBundle::_shared.html.twig' %}
{% block title %}Demandes de contact{% endblock %} 
    {% block body %} 
<div class="col col_12">
    <div class="container_box">
        <div class="box_title">
            <h3>Demandes de contact</h3>
        </div>
        <div class="box_content">
            <div class="row">
                <div class="table-container">
                    <table id="table" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Nom</th>
                                <th>Prénom</th>
                                <th>E-mail</th>
                                <th>Mobile</th>
                                <th>Date</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody >
                        {% for contact in contacts %}
                            <tr>
                                <td><a href="{{ path('contact_show', { 'id': contact.id }) }}">{{ contact.id }}</a></td>
                                <td>{{ contact.firstname }}</td>
                                <td>{{ contact.lastname }}</td>
                                <td><a href="mailto:{{contact.email}}">{{contact.email}}</a></td>
                                <td>{{ contact.mobile }}</td>
                                <td>{% if contact.createdAt %}{{ contact.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <a href="{{ path('contact_show', { 'id': contact.id }) }}"><i class="fas fa-eye"></i></a>
                                </td>
                            </tr>
                            
                        {% endfor %}
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block lib_css %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">{% endblock %}
{% block lib_script %}
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
{% endblock %}
{% block local_script %}
    <script type="text/javascript" src="{{ asset('adminTemplateFiles/build/js/data_table_script.js') }}"></script>
{% endblock %}