{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Client{% endblock %} 
{% block body %}
<div class="col col_12">
    <div class="container_box">
        <div class="box_title">
            <h3>Liste des clients</h3>
            <div class="button addNewElement">
                <a href="{{path('client_new')}}"><i class="fas fa-plus-circle"></i> Client</a> 
            </div>
        </div>
        <div class="box_content">
            <div class="row">
                <div class="tablesTabs">
                    <button data-value="all" class="active">Tout</button>
                    <button data-value="1">On-Line</button>
                    <button data-value="0">Off-Line</button>
                </div> 
                <div class="table-container">
                    <table id="table" class="display" style="width:100%">
                        <thead>
                            <tr>
                                <!-- <th>#</th> -->
                                <th style="width:1px!important"></th>
                                <th>Nom du client</th>
                                <th>Auteur</th>
                                <th>Date de création</th>
                                <th>Dernière modification</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody >
                         {% for client in clients %}
                            <tr data-value="{{client.state}}">
                               
                                <td>
                                    {% if client.state == 0 %}
                                        <i style="color:#e03131;font-size:12px;" class="fa fa-circle status-published"></i>
                                    {% else %}
                                        <i style="color:#1d9f3c;font-size:12px;" class="fa fa-circle status-published"></i>
                                    {% endif %}
                                </td>
                                <td>
                                    {% if client.translations[app.request.locale].name  is defined %}
                                        {{ client.translations[app.request.locale].name }}
                                    {% else %}
                                        client <small>Titre introuvable</small>
                                    {% endif %}
                                </td>
                                <td class="user_td" 
                                    data-route="{{ 
                                        path('affectUser', { 
                                            'user_id': '777-user',
                                            'entity_type':'Client',
                                            'entity_id':client.id,
                                        }
                                    ) 
                                }}">
                                    {% if client.user != null %}
                                        {{ client.user.firstName }} {{ client.user.lastName }}
                                    {% else %}
                                        {{ render(controller( 
                                            'AdminBundle:RenderTemplate:renderUserSelect'
                                        )) }}
                                    {% endif %}
                                </td>
                                <td>{% if client.createdAt %}{{ client.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if client.updatedAt %}{{ client.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td class="action_td">
                                    {# <a href="#" class="view_action" target="_blank"><i class="fas fa-eye"></i></a>  - #}  
                                    <a href="{{ path('client_edit', { 'id': client.id }) }}" class="edit_action"><i class="fas fa-pen-square"></i></a>  
                                        - 
                                        <a data-href="{{ path('element_delete', { 'id': client.id,'entity':'client' }) }}" class="delete_action entity_delete">
                                        <i class="fas fa-trash-alt"></i></a>  
                                      
                                </td>
                            </tr>
                        {% endfor %} 
                        </tbody>
                    </table>
                </div> 
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block lib_css %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">{% endblock %}
{% block lib_script %}<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>{% endblock %}
{% block local_script %}
    <script type="text/javascript" src="{{ asset('adminTemplateFiles/build/js/data_table_script.js') }}"></script>
{% endblock %}