{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Editer Category{% endblock %} 
{% block lib_css %}<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">{% endblock %}
{% block lib_script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    {{ tinymce_init() }}
{% endblock %}

{% block local_script %}
    <script src="{{ asset('adminTemplateFiles/build/js/boxes_script.js') }}" type="text/javascript"></script>
    <script type="text/javascript" src="{{ asset('adminTemplateFiles/build/js/data_table_script.js') }}"></script>
    
{% endblock %}

{% block body %}
{{ form_start(edit_form) }}
<div class="col col_8">
    <div class="container_box" data-change="{{ path('slugValidation',{ 'entity': '999-entity','slug':'888-slug'}) }}">
        <div class="box_title"> 
            {% if category.translations[app.request.locale].name  is defined %}
                <h3>Editer - {{ category.translations[app.request.locale].name }}</h3>
            {% else %}
                <h3>Editer Category <small>Titre introuvable</small></h3>
            {% endif %}
        </div>
        <div class="box_content">
            <div class="row">
                 {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderCategoryForm',{ 'form': edit_form, 'entity':category, 'data':null }
                )) }} 
            </div>
        </div>
    </div>
</div>
<div class="col col_4">
    <div class="action-page">
        <div class="action-body">
           {{ render(controller( 
            'AdminBundle:RenderTemplate:renderState',{ 'form': edit_form, 'entity':category}
            )) }}
           <div class="btn-group">
                {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderSubmitButtons',{'path':path('category_index')  }
                )) }}
           </div>
        </div>
    </div>
</div>
{{ form_end(edit_form) }}

{% endblock %}

{# {% block media_content %}
    {% include 'MediaBundle:Templates:medias.html.twig'%}
{% endblock %}
 #}