{% extends 'AdminBundle::_shared.html.twig' %}
{% block title %}Nouvelle category{% endblock %} 

{% block lib_script %}
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js "></script>
    {{ tinymce_init() }}
{% endblock %}

{% block local_script %}
    <script src="{{ asset('adminTemplateFiles/build/js/boxes_script.js') }}" type="text/javascript"></script>
{% endblock %}

{% block body %}
{{ form_start(form) }}
<div class="col col_8">
     <div class="container_box" data-change="{{ path('slugValidation',{ 'entity': '999-entity','slug':'888-slug'}) }}">
        <div class="box_title">
            <h3>Nouvelle categorie</h3>
        </div>
        <div class="box_content">
            <div class="row">
                {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderCategoryForm',{ 'form': form}
                )) }}
            </div>
        </div>
    </div>
</div>
<div class="col col_4">
    <div class="action-page">
        <div class="action-body">
           {{ render(controller( 
            'AdminBundle:RenderTemplate:renderState',{ 'form': form, 'entity':category}
            )) }}
           <div class="btn-group">
                {{ render(controller( 
                    'AdminBundle:RenderTemplate:renderSubmitButtons',{'path':path('category_index')  }
                )) }}
           </div>
        </div>
    </div>
</div>
{{ form_end(form) }}
{% endblock %}

{% block media_content %}
    {% include 'MediaBundle:Templates:medias.html.twig'%}
{% endblock %}
