<div class="header">
    <a href="#" id="menu-action" class="active">
        <i class="fa fas fa-caret-left"></i>
        <span>Réduire le menu</span>
    </a>
    <div class="logo">
        {{ project_name }}
    </div>
</div>
<div id="menu" class="sidebar active">
    <ul>

        <li class="ab-menu{% if localepathForRoutePath == path('backend_index') %} item_active item_master{% endif %}">

            <a class="ab-item item_header" href="{{ path('backend_index') }}">
                <i class="fas fa-tachometer-alt"></i>Dashboard
            </a>

        </li>

        <li class="ab-menu{% if localepathForRoutePath == path('page_index') or localepathForRoutePath == path('page_new') or ( localepathForRouteId is defined and localepathForRouteId is not null and localepathForRoutePath == path('page_edit', { 'id': localepathForRouteId }) ) %} item_active item_master{% endif %}">

            <span class="ab-item item_header">
                <i class="fas fa-copy"></i>Pages<i class="fa fa-caret-down"></i>
            </span>

            <ul class="ab-submenu">
                <li class="ab-item{% if localepathForRoutePath == path('page_index') %} ab-item-active{% endif %}">
                    <a href="{{ path('page_index') }}">
                        <i class="fas fa-list"></i>Tous les pages
                    </a>
                </li>
                <li class="ab-item{% if localepathForRoutePath == path('page_new') %} ab-item-active{% endif %}">
                    <a href="{{ path('page_new') }}">
                        <i class="fas fa-plus"></i>Ajouter
                    </a>
                </li>
            </ul>
        </li>

        <li class="ab-menu{% if localepathForRoutePath == path('image_index') %} item_active item_master{% endif %}">

            <a class="ab-item item_header{% if localepathForRoutePath == path('image_index') %} ab-item-active{% endif %}" href="{{ path('image_index') }}">
                <i class="fas fa-images"></i>Médias
            </a>

        </li>

        <li class="ab-menu{% if localepathForRoutePath == path('locale_index') or localepathForRoutePath == path('locale_new') %} item_active item_master{% endif %}">

            <span class="ab-item item_header">
                <i class="fas fa-language"></i>Langues<i class="fa fa-caret-down"></i>
            </span>

            <ul class="ab-submenu">
                <li class="ab-item{% if localepathForRoutePath == path('locale_index') %} ab-item-active{% endif %}">
                    <a href="{{ path('locale_index') }}">
                        <i class="fas fa-list"></i>Tous les langues
                    </a>
                </li>
                <li class="ab-item{% if localepathForRoutePath == path('locale_new') %} ab-item-active{% endif %}">
                    <a href="{{ path('locale_new') }}">
                        <i class="fas fa-plus"></i>Ajouter
                    </a>
                </li>
            </ul>
        </li>

        
        <li>
            <a href="{{ path('contact_index') }}" data-class=""><i class="fas fa-envelope-open"></i>Contact</a>
        </li>
        

        {% if app.user.role != 'ROLE_EDITOR' %}
            <li class="ab-menu{% if localepathForRoutePath == path('admin_users') %} item_active{% endif %}">
                <a class="ab-item item_header{% if localepathForRoutePath == path('admin_users') %} ab-item-active{% endif %}" href="{{ path('admin_users') }}">
                    <i class="fas fa-user-tag"></i>Utilisateurs
                </a>
            </li>
        {% endif %}

        {% if app.user.role == 'ROLE_SUPER_ADMIN' or app.user.role == 'ROLE_DEV' %}
            <li class="ab-menu">
                <a href="{{ path('help_edit',{'id':47}) }}" data-class="">
                    <i class="fa fa-info-circle"></i>Aide Remplissage
                </a>
            </li>
        {% endif %}

        <li class="ab-menu">
            <a href="{{ path('help_show',{'id':47}) }}" data-class="">
                <i class="fa fa-info-circle"></i>Aide
            </a>
        </li>

        {% if app.user.role != 'ROLE_EDITOR' %}
            <li class="ab-menu">
                <a href="{{ path('clearcache') }}" data-class="">
                    <i class="fas fa-exclamation-triangle"></i>Vider le cache
                </a>
            </li>
            <li class="ab-menu">
                <a href="{{ path('settings_edit', { 'id': 1}) }}" data-class="">
                    <i class=" fas fa-cog "></i>Paramètres
                </a>
            </li>
        {% endif %}
    </ul>
</div>