<div class="col-md-4 _box fixedPart ">
  <div class="_boxContent">
    <div class="entity-action-part">
      <div class="entity-action-title">
          Actions
      </div>
      <div class="entity-action-body">
        <div id="_state" class="_state {% if entity.state == 1 %}on-line{% else %}off-line{% endif %}" title="Click to change current status." >
            {{ form_widget(form.state ) }}
            Visibilité:
            <i class="fa fa-circle "></i>
            <span>{% if entity.state == 1 %}on-line{% else %}off-line{% endif %}</span>
            
        </div>
        
        <div class="btn-group">
              {{ render(controller( 
                  'AdminBundle:RenderTemplate:renderSubmitButtons',{'path':path('page_index')  }
              )) }}
         </div>
      </div>
    </div>
    <div class="entity-action-part">
      <div class="entity-action-title">
          Historique
      </div>
      <div class="entity-action-body">
        <p class="lastsaved">
            {% if entity.createdAt %}
              Publié: <strong>{{ entity.createdAt|date('m/d/y à H:i:s') }}</strong>
              {% if entity.user != null %}
              <br>Auteur : {{ entity.user.firstName }} {{ entity.user.lastName }}
              {% endif %}
            {% endif %}
            {% if entity.updatedAt %}
              <br>Dernière modification : <strong>{{ entity.updatedAt|date('m/d/y à H:i:s')}}</strong>
              {% if entity.updateuser.firstName != null %}
                <br><small>(par {{ entity.user.firstName }} {{ entity.user.lastName }} )</small>
              {% endif %}
            {% endif %}
        </p>
      </div>
    </div>
  </div> 
</div> 
