<div class="time_line">
    <div class="line"></div>
    <a class="part part-50 active content-part" href="#content" data-target="content">Contenu</a>
    <a class="part part-50 generale-part" href="#generale" data-target="generale">Général</a>
</div>
<div class="time_line_target">
    <div class="part active content-part" data-source="content">
        <div class="row">
            {{ form_row(form.translations[app.request.locale].linkText) }}
            {{ form_row(form.translations[app.request.locale].linkUrl) }}

            <div class="form_group col col_5 ">
                <label class="input_label displayLabel">PDF 
                    {% if entity.translations[app.request.locale].id is defined and entity.translations[app.request.locale].pdf is not null %}
                    <div class="pdf-bloc-delete bloc-delete">
                        <a class="btn-viewFile" href="{{ asset('uploads/' ~  form.translations[app.request.locale].pdf.vars.data) }}" download="{{form.translations[app.request.locale].pdf.vars.data}}">[ Visualiser le PDF ]</a>
                        <a class="btn-delleteFile pdf-delete" data-route="{{ path('deletepdfpress', { 'id': entity.translations[app.request.locale].id }) }}">Supprimer le PDF</a>
                    </div>
                    {% endif %}
                </label>
                <div class="input_box pdf_input_box">
                    {{ form_row(form.translations[app.request.locale].pdf) }}
                </div>
            </div>
        </div>
        <div class="row block-img">
            <div class="col col_3">
                <label class="input_label displayLabel displayLabelImage">Image à la une</label>
                <div class="form_group imgContainer" style="margin-left:20px;">
                    {% if entity.thumbnail is defined and entity.thumbnail is not null %}
                        <img src="{{ asset('uploads/'~ entity.thumbnail.src) }}">
                        <a class="btn-delleteFile" >Supprimer l'image</a>
                    {% endif %}
                </div>
                {{form_row(form.thumbnail)}}
            </div>
        </div>
    </div>
    <div class="part generale-part" data-source="generale">
        <div class="row">
            <div class="col col_10">
                {{form_row(form.translations)}}
            </div>
        </div> 
    </div>
</div>
<div style="display:none">{{form_rest(form)}}</div>