<div id="firstList" class="dragAnDropContainer">
  {% for image in images %}
      <div data-id="{{image.id}}" data-type="mediumPicture" ><img src="{{ asset('uploads') }}/{{ image.src }}"></div>
  {% endfor %}
</div>
 <!-- <button class="addNewImageToDragAndDrop">Ajouter une Image</button> -->
<div id="secondList" class="dragAnDropContainer">
  {% for element in masnoryImages %}
      <div class="item" data-id="{{element.id}}" data-type="{{element.type}}"
        {% if element.type == 'bigPicture' %}
          data-ss-colspan="2"
        {% elseif element.type == 'smallPicture' %}
          data-ss-height="3"
        {% endif %} 
        data-positon="{{element.order}}"
        data-left="{{element.left}}px" data-top="{{element.top}}px"
        style="top:{{element.top}}px; left:{{element.left}}px;" 
       >
          <img src="{{ asset('uploads') }}/{{ element.src }}">
          <a href="#" class="deleteElementFromDragAndDropContainer" >X</a>
      </div>
  {% endfor %} 
</div>
<textarea class="result" name="resultMasnory" style="display:none"></textarea>

